@import 'tailwindcss';
@import './themes.css';

body {
	background-color: var(--bg);
	font-family: 'GothamPro', sans-serif;
}

.hide-scrollbar {
	-ms-overflow-style: none; /* IE Ð¸ Edge */
	scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}
