:root[data-theme='light'] {
	--bg: #f4f4f4;
	--secondary: #171717;
	--hero: rgb(0, 145, 255);
	--hero-pale: rgb(223, 232, 255);
	--middle-bg: #ededed;
	--middle-secondary: #9e9e9e;
	--bg-border: #ffffff75;
	--secondary-border: ##28282875;

	/* GREEN */
	--green-bg: #4ade80;
	--green-bg-contrast: #22c55e;
	--green-bg-pale: #86efac;
	--green-text: #ecfdf3;

	/* YELLOW */
	--yellow-bg: #facc15;
	--yellow-bg-contrast: #eab308;
	--yellow-bg-pale: #fde047;
	--yellow-text: #fefce8;

	/* RED */
	--red-bg: #f87171;
	--red-bg-contrast: #ef4444;
	--red-bg-pale: #fca5a5;
	--red-text: #fef2f2;

	/* BLUE */
	--blue-bg: #60a5fa;
	--blue-bg-contrast: #3b82f6;
	--blue-bg-pale: #93c5fd;
	--blue-text: #eff6ff;

	/* PURPLE */
	--purple-bg: #c084fc;
	--purple-bg-contrast: #a855f7;
	--purple-bg-pale: #d8b4fe;
	--purple-text: #faf5ff;

	/* PINK */
	--pink-bg: #f472b6;
	--pink-bg-contrast: #ec4899;
	--pink-bg-pale: #fbcfe8;
	--pink-text: #fdf2f8;

	/* ORANGE */
	--orange-bg: #fb923c;
	--orange-bg-contrast: #f97316;
	--orange-bg-pale: #fdba74;
	--orange-text: #fff7ed;

	/* CYAN */
	--cyan-bg: #22d3ee;
	--cyan-bg-contrast: #06b6d4;
	--cyan-bg-pale: #67e8f9;
	--cyan-text: #ecfeff;

	/* INDIGO */
	--indigo-bg: #818cf8;
	--indigo-bg-contrast: #6366f1;
	--indigo-bg-pale: #a5b4fc;
	--indigo-text: #eef2ff;

	/* TEAL */
	--teal-bg: #2dd4bf;
	--teal-bg-contrast: #14b8a6;
	--teal-bg-pale: #5eead4;
	--teal-text: #f0fdfa;

	/* SHADOWS */
	--green-shadow: rgba(22, 101, 52, 0.18);
	--yellow-shadow: rgba(146, 64, 14, 0.18);
	--red-shadow: rgba(153, 27, 27, 0.18);
	--blue-shadow: rgba(30, 64, 175, 0.18);
	--purple-shadow: rgba(107, 33, 168, 0.18);
	--pink-shadow: rgba(157, 23, 77, 0.18);
	--orange-shadow: rgba(154, 52, 18, 0.18);
	--cyan-shadow: rgba(21, 94, 117, 0.18);
	--indigo-shadow: rgba(55, 48, 163, 0.18);
	--teal-shadow: rgba(17, 94, 89, 0.18);
}

:root[data-theme='dark'] {
	--bg: #262626;
	--secondary: #efefef;
	--hero: rgb(255, 0, 119);
	--hero-pale: rgb(255, 223, 237);
	--gray-text: #323232;
	--bg-border: #37373775;
	--secondary-border: ##ffffff75;

	/* -- COLORS -- */
	/* GREEN */
	--green-bg: #4ade80;
	--green-text: #052e16;

	/* YELLOW */
	--yellow-bg: #facc15;
	--yellow-text: #422006;

	/* RED */
	--red-bg: #f87171;
	--red-text: #450a0a;

	/* BLUE */
	--blue-bg: #60a5fa;
	--blue-text: #0c1e3a;

	/* PURPLE */
	--purple-bg: #c084fc;
	--purple-text: #2e1065;

	/* PINK */
	--pink-bg: #f472b6;
	--pink-text: #500724;

	/* ORANGE */
	--orange-bg: #fb923c;
	--orange-text: #431407;

	/* CYAN */
	--cyan-bg: #22d3ee;
	--cyan-text: #083344;

	/* INDIGO */
	--indigo-bg: #818cf8;
	--indigo-text: #1e1b4b;

	/* TEAL */
	--teal-bg: #2dd4bf;
	--teal-text: #042f2e;

	/* SHADOWS */
	--green-shadow: rgba(74, 222, 128, 0.1);
	--yellow-shadow: rgba(250, 204, 21, 0.1);
	--red-shadow: rgba(248, 113, 113, 0.1);
	--blue-shadow: rgba(96, 165, 250, 0.1);
	--purple-shadow: rgba(192, 132, 252, 0.1);
	--pink-shadow: rgba(244, 114, 182, 0.1);
	--orange-shadow: rgba(251, 146, 60, 0.1);
	--cyan-shadow: rgba(34, 211, 238, 0.1);
	--indigo-shadow: rgba(129, 140, 248, 0.1);
	--teal-shadow: rgba(45, 212, 191, 0.1);
}
